<div class="panel panel-default">
  <div class="row panel-heading">
    <div class="col-xs-12">

      <!-- NAME GOES HERE -->
      <!-- <h4>{{contact.name}}</h4> -->
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- <img src="{{contact.imageUrl}}" alt="" style="max-height: 75px;"> -->
      </div>
      <div class="col-md-6">
        <div class="btn-toolbar">
          <button class="btn btn-primary" type="submit">Edit</button>
          <button class="btn btn-danger" type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row panel-body">
    <div class="col-xs-12">
      <p style="font-weight: bold;">Email: </p> 
      <p style="font-weight: bold;">Phone: </p> 
    
    </div>
  </div>
</div>
